@import '../../../../styles/settings/settings.scss';
@import '../../../../styles/tools/tools.scss';
@import '../../../../styles/utils/utils.scss';

.container {
  @include rounded_corners(4px);
  border: 1px solid $color-grey-3;
  padding: 30px 30px 30px 100px;
  font-family: $font-family-main;
  font-size: 13px;
  position: relative;
}

.titleIcon {
  position: absolute;
  top: 25px;
  left: 35px;
}
