$color-transparent: transparent;
$color-white: #ffffff;
$color-black: #000000;

$color-grey-0: #f8f8f8;
$color-grey-1: #f4f5f5;
$color-grey-2: #e8e8e8;
$color-grey-3: #e0e0e0;
$color-grey-4: #c6c6c6;
$color-grey-5: #a4a4a4;
$color-grey-6: #535252;

$color-blue-light: #ecf5fe;
$color-blue-border: #b5e4fe;
$color-blue-secondary: #0094e7;
$color-blue-secondary-darker: #0383cb;
$color-blue-primary: #00275b;
$color-blue-primary-light: #1653a4;

$color-green-light: #f2fde5;
$color-green-border: #d3ecb6;
$color-green-primary-light: #b1da0f;
$color-green-primary: #a1c900;
$color-green-secondary: #84b517;

$color-red-light: #ffeeee;
$color-red-border: #f9cdcd;
$color-red-primary-light: #e9242e;
$color-red-primary: #c91f28;
$color-red-price: #f00000;
$color-red-premium: #af1528;

$color-brown-light: #faf6f2;
$color-brown-border: #ece4db;
$color-brown-primary-light: #975216;
$color-brown-primary: #764510;

$color-yellow-light: #fff9d7;
$color-yellow-border: #eae3b8;
$color-yellow: #ffd538;

$color-gold-light: #fbf7ee;
$color-gold-primary-light: #c7b276;
$color-gold-primary: #b7a265;

$color-orange-light: #fff3ec;
$color-orange-border: #ffdac5;
$color-orange-secondary: #f29400;
$color-orange-primary-light: #fa8f42;
$color-orange-primary: #fd7528;

// Styleguide Colors.Sections
$color-blue-alza: #00275b;
$color-blue-alza-light: #1653a4;
$color-blue-media: #0094e7;
$color-blue-media-light: #3cb2f5;
$color-orange-toys: #fd7528;
$color-orange-toys-light: #fa8f42;
$color-gold-trendy: #c7b276;
$color-gold-trendy-dark: #b7a265;
$color-red-maxi: #e9242e;
$color-red-maxi-dark: #c91f28;
$color-green-sport: #a1c900;
$color-green-sport-light: #b1da0f;
$color-brown-hobby: #764510;
$color-brown-hobby-light: #975216;
$color-grey-automoto: #262f38;
$color-grey-automoto-light: #4f5b68;
$color-ochre-pet: #cb8f10;
$color-ochre-pet-light: #e1a82f;

// Styleguide Colors.Availabilities
$color-avl0: #398000;
$color-avl1: #00275a;
$color-avl2: #91c71d;
$color-avl3: #84551f;
$color-avl4: #e0621f;
$color-avl5: #3697d9;
$color-avl7: #0000c0;

// Styleguide Colors.Socials
$color-twitter: #00a2e1;
$color-facebook: #355896;
$color-googleplus: #e55045;
$color-isic: #d0f0fb;
$color-isic-dark: #4ebcbd;
$color-neo: #2eb3fd;

// Styleguide Colors.EnergyClass
$color-highLandGreen: #00a651;
$color-freshGreen: #50b848;
$color-limeGreen: #bfd730;
$color-telecomYellow: #fff200;
$color-mustardYellow: #fdb913;
$color-teracottaOrange: #f36f21;
$color-lipstickRed: #ed1c24;
